# Database
DATABASE_URL="[Supabase connection url]"

# Server
PORT=3001

# YouTube API
YOUTUBE_API_KEY=YOUR_API_KEY_HERE

# Typesense
TYPESENSE_API_KEY=noraebang_search_secret_key
TYPESENSE_HOST=typesense
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http